* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: linear-gradient(90deg, #486359 8.8%, rgb(127, 166, 140) 100%);
  color: whitesmoke;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#back{
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  align-self: flex-start;
  margin-bottom: 10px;
}


#back:hover{
  color: rgb(161, 160, 160);
  transition: 0.2s;
}


.container {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: rgba(109, 156, 160, 0.048);
  border: solid whitesmoke 1px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  max-width: 50%;
  padding: 30px;
  gap: 1rem;
}


.container label{
  font-size: 25px;
}


.container p{
  font-size: 25px;
}


.container select{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.2s;
}


.container select:focus{
  border-color: #2980b9;
  outline: none;
  box-shadow: 0 0 3px rgba(41, 128, 185, 0.5);
}


#temperature, #has_mold, #expired_food{
  font-size: 15px;
}


#btn{
  color: whitesmoke;
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  background: #5a7c70;
  border: solid #344740 2px;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}


#btn:hover{
  background: #486359;
  transition: 0.2s;
}