* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(120deg, #db9b66, #bb5451);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: #2c3e50;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

#back:hover {
  color: rgb(161, 160, 160);
  transition: 0.2s;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

#nome{
  border-radius: 4px;
}

#age{
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.2s;
}

select:focus {
  border-color: #2980b9;
  outline: none;
  box-shadow: 0 0 3px rgba(41, 128, 185, 0.5);
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background: #2980b9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="submit"]:hover {
  background: #1f6391;
}

/* Responsividade */
@media (max-width: 500px) {
  .container {
    margin: 20px;
    padding: 20px;
  }
}