<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Página Principal</h1>
        <a href="http://127.0.0.1:5000/personality"><button id="btn-menu">Personality</button></a>
        <a href="http://127.0.0.1:5000/animal"><button id="btn-menu">Animal</button></a>
        <a href="http://127.0.0.1:5000/petshop"><button id="btn-menu">Petshop</button></a>
        <a href="http://127.0.0.1:5000/contamination"><button id="btn-menu">Contamination</button></a>
        <a href="http://127.0.0.1:5000/soma"><button id="btn-menu">Soma</button></a>
    </div>
</body>
</html>